@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
:root {
  --background: oklch(0.99 0.0042 236.49);
  --foreground: oklch(0.188 0.0128 248.5);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.188 0.0128 248.5);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.188 0.0128 248.5);
  --primary: oklch(0.672 0.1606 244.99);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.931 0.0383 236.06);
  --secondary-foreground: oklch(0.672 0.1606 244.99);
  --muted: oklch(0.977 0.0125 236.6);
  --muted-foreground: oklch(0.56 0.0934 249.8);
  --accent: oklch(0.939 0.0342 235.86);
  --accent-foreground: oklch(0.672 0.1606 244.99);
  --destructive: oklch(0.619 0.2376 25.76);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.932 0.0118 231.66);
  --input: oklch(0.981 0.0025 228.78);
  --ring: oklch(0.682 0.1584 243.35);
  --chart-1: oklch(0.672 0.1606 244.99);
  --chart-2: oklch(0.691 0.1554 160.34);
  --chart-3: oklch(0.821 0.16 82.53);
  --chart-4: oklch(0.706 0.1822 151.71);
  --chart-5: oklch(0.592 0.2186 10.58);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.188 0.0128 248.5);
  --sidebar-primary: oklch(0.672 0.1606 244.99);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.939 0.0166 250.84);
  --sidebar-accent-foreground: oklch(0.672 0.1606 244.99);
  --sidebar-border: oklch(0.927 0.0101 238.52);
  --sidebar-ring: oklch(0.682 0.1584 243.35);
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 2px 10px -3.5px hsl(202.8 89.1% 53.1% / 0.18);
  --shadow-xs: 0 2px 10px -3.5px hsl(202.8 89.1% 53.1% / 0.18);
  --shadow-sm: 0 2px 10px -3.5px hsl(202.8 89.1% 53.1% / 0.36), 0 1px 2px -4.5px hsl(202.8 89.1% 53.1% / 0.36);
  --shadow: 0 2px 10px -3.5px hsl(202.8 89.1% 53.1% / 0.36), 0 1px 2px -4.5px hsl(202.8 89.1% 53.1% / 0.36);
  --shadow-md: 0 2px 10px -3.5px hsl(202.8 89.1% 53.1% / 0.36), 0 2px 4px -4.5px hsl(202.8 89.1% 53.1% / 0.36);
  --shadow-lg: 0 2px 10px -3.5px hsl(202.8 89.1% 53.1% / 0.36), 0 4px 6px -4.5px hsl(202.8 89.1% 53.1% / 0.36);
  --shadow-xl: 0 2px 10px -3.5px hsl(202.8 89.1% 53.1% / 0.36), 0 8px 10px -4.5px hsl(202.8 89.1% 53.1% / 0.36);
  --shadow-2xl: 0 2px 10px -3.5px hsl(202.8 89.1% 53.1% / 0.9);
}

.dark {
  --background: oklch(0.145 0.026 230.79);
  --foreground: oklch(0.933 0.0025 228.78);
  --card: oklch(0.16 0.0289 236.37);
  --card-foreground: oklch(0.885 0 0);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(0.933 0.0025 228.78);
  --primary: oklch(0.669 0.1607 245.01);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.962 0.0035 219.53);
  --secondary-foreground: oklch(0.188 0.0128 248.5);
  --muted: oklch(0.209 0.045 243.18);
  --muted-foreground: oklch(0.564 0.0078 247.97);
  --accent: oklch(0.193 0.0331 242.54);
  --accent-foreground: oklch(0.669 0.1607 245.01);
  --destructive: oklch(0.619 0.2376 25.76);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.212 0.037 248.54);
  --input: oklch(0.302 0.0288 244.82);
  --ring: oklch(0.682 0.1584 243.35);
  --chart-1: oklch(0.672 0.1606 244.99);
  --chart-2: oklch(0.691 0.1554 160.34);
  --chart-3: oklch(0.821 0.16 82.53);
  --chart-4: oklch(0.706 0.1822 151.71);
  --chart-5: oklch(0.592 0.2186 10.58);
  --sidebar: oklch(0.161 0.0261 235.84);
  --sidebar-foreground: oklch(0.885 0 0);
  --sidebar-primary: oklch(0.682 0.1584 243.35);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.193 0.0331 242.54);
  --sidebar-accent-foreground: oklch(0.669 0.1607 245.01);
  --sidebar-border: oklch(0.38 0.022 240.59);
  --sidebar-ring: oklch(0.682 0.1584 243.35);
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 2px 10px -3.5px hsl(202.8 89.1% 53.1% / 0.18);
  --shadow-xs: 0 2px 10px -3.5px hsl(202.8 89.1% 53.1% / 0.18);
  --shadow-sm: 0 2px 10px -3.5px hsl(202.8 89.1% 53.1% / 0.36), 0 1px 2px -4.5px hsl(202.8 89.1% 53.1% / 0.36);
  --shadow: 0 2px 10px -3.5px hsl(202.8 89.1% 53.1% / 0.36), 0 1px 2px -4.5px hsl(202.8 89.1% 53.1% / 0.36);
  --shadow-md: 0 2px 10px -3.5px hsl(202.8 89.1% 53.1% / 0.36), 0 2px 4px -4.5px hsl(202.8 89.1% 53.1% / 0.36);
  --shadow-lg: 0 2px 10px -3.5px hsl(202.8 89.1% 53.1% / 0.36), 0 4px 6px -4.5px hsl(202.8 89.1% 53.1% / 0.36);
  --shadow-xl: 0 2px 10px -3.5px hsl(202.8 89.1% 53.1% / 0.36), 0 8px 10px -4.5px hsl(202.8 89.1% 53.1% / 0.36);
  --shadow-2xl: 0 2px 10px -3.5px hsl(202.8 89.1% 53.1% / 0.9);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}